$icomoon-font-path: "../fonts";

$icon-search: "\e900";
$icon-mail: "\e901";
$icon-google: "\e902";
$icon-be-soc: "\e903";
$icon-p-soc: "\e904";
$icon-plus: "\e905";
$icon-phone: "\e906";
$icon-heart: "\e907";
$icon-lamp: "\e908";
$icon-star: "\e909";
$icon-arrow-prev: "\e90a";
$icon-arrow-next: "\e90b";
$icon-location: "\e90c";
$icon-arrow-next-2: "\e90f";
$icon-twitter: "\e90d";
$icon-facebook: "\e90e";
$icon-ball: "\e910";