.features{
	padding-top: 50px;
	&__title{
		margin-top: 0;
	}	
	&__icon{
		float: left;
		color: $brand-primary;
		padding-right: 30px;
		font-size: 50px;
	}
	&__content-box{
		overflow: hidden;
	}
	&__text{
		font-size: 16px;
		line-height: 25px;
	}
}